### import module

In [1]:
import pandas as pd

### read file excell format

In [2]:
df = pd.read_excel("Taxi_Time.xlsx")
df

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance
0,0,2,03/25/2017 8:55:43 AM,03/25/2017 9:09:47 AM,6,3.34
1,1,1,04/11/2017 2:53:28 PM,04/11/2017 3:19:58 PM,1,1.80
2,2,1,12/15/2017 7:26:56 AM,12/15/2017 7:34:08 AM,1,1.00
3,3,2,05/07/2017 1:17:59 PM,05/07/2017 1:48:14 PM,1,3.70
4,4,2,04/15/2017 11:32:20 PM,04/15/2017 11:49:03 PM,1,4.37
...,...,...,...,...,...,...
22694,22694,2,02/24/2017 5:37:23 PM,02/24/2017 5:40:39 PM,3,0.61
22695,22695,2,08/06/2017 4:43:59 PM,08/06/2017 5:24:47 PM,1,16.71
22696,22696,2,09/04/2017 2:54:14 PM,09/04/2017 2:58:22 PM,1,0.42
22697,22697,2,07/15/2017 12:56:30 PM,07/15/2017 1:08:26 PM,1,2.36
22698,22698,1,03/02/2017 1:02:49 PM,03/02/2017 1:16:09 PM,1,2.10

 pengecekan informasi mengenai data set

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22699 entries, 0 to 22698
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             22699 non-null  int64
 1   VendorID               22699 non-null  int64
 2   tpep_pickup_datetime   22699 non-null  object
 3   tpep_dropoff_datetime  22699 non-null  object
 4   passenger_count        22699 non-null  int64
 5   trip_distance          22699 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 1.0+ MB

#### ubah format kolom tpep_pickup_datetime dan  tpep_dropoff_datetime menjadi datetime

In [8]:
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

df.info()
# data sudah berubah nmenjadi format datetime

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22699 entries, 0 to 22698
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             22699 non-null  int64
 1   VendorID               22699 non-null  int64
 2   tpep_pickup_datetime   22699 non-null  datetime64[ns]
 3   tpep_dropoff_datetime  22699 non-null  datetime64[ns]
 4   passenger_count        22699 non-null  int64
 5   trip_distance          22699 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(3)
memory usage: 1.0 MB

In [10]:
## menghapus kolomn unnamed:0

In [11]:
df.drop(columns="Unnamed: 0", inplace=True)

### ekstrak data dengan atribut bawaan pandas

In [20]:
df["second"] = df["tpep_pickup_datetime"].dt.second
df["minute"] = df["tpep_pickup_datetime"].dt.minute
df["hour"] = df["tpep_pickup_datetime"].dt.hour
df["day"] = df["tpep_pickup_datetime"].dt.day
df["month"] = df["tpep_pickup_datetime"].dt.month
df["year"] = df["tpep_pickup_datetime"].dt.year
df["namaBulan"] = df["tpep_pickup_datetime"].dt.month_name()
df["totalSecond"] = df["tpep_pickup_datetime"].dt.total_second()
df

AttributeError: 'DatetimeProperties' object has no attribute 'total_second'